openapi: "3.0.3"

info:
  title: MoreHealth Dashboard API
  version: "1.0.0"
  description: >
    Backend API powering the MoreHealth distributor dashboard.
    All endpoints require a valid session unless marked public.

servers:
  - url: https://api.morehealth.com/v1
    description: Production

tags:
  - name: auth
    description: Authentication and session management (OIDC/BFF)
  - name: profile
    description: Authenticated user's own profile and account settings
  - name: dashboard
    description: Dashboard summary and KPI data
  - name: orders
    description: Personal order history and order details
  - name: referredOrders
    description: Orders placed through the authenticated distributor's referral link
  - name: sms
    description: SMS notification preferences and opt-in/out
  - name: onboarding
    description: New-member onboarding flow
  - name: signup
    description: Distributor registration
  - name: downline
    description: Downline network and team structure
  - name: sponsors
    description: Sponsor lookup and sponsor tree
  - name: storefront
    description: Distributor-specific storefront configuration
  - name: addresses
    description: Shipping and billing address management
  - name: translations
    description: Localisation strings
  - name: appSettings
    description: Application-wide feature flags and configuration
  - name: admin
    description: Admin-only operations (requires admin role)
  - name: webhooks
    description: Inbound webhooks from third-party integrations
  - name: health
    description: Service health and readiness probes

paths:

  /auth/login:
    get:
      tags: [auth]
      operationId: initiateLogin
      summary: Initiate OIDC login
      description: >
        Redirects the browser to the configured identity provider to begin
        the OIDC authorisation code flow. No session is required.
      security: []
      responses:
        "302":
          description: Redirect to identity provider
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: OIDC authorisation endpoint URL with state and nonce

  /auth/callback:
    get:
      tags: [auth]
      operationId: oidcCallback
      summary: OIDC callback
      description: >
        Receives the authorisation code and state from the identity provider,
        exchanges them for tokens, creates a server-side session, and sets the
        HTTP-only session cookie before redirecting to the dashboard.
      security: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: Authorisation code returned by the identity provider
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: CSRF state value generated during login initiation
      responses:
        "302":
          description: Login successful — redirects to dashboard
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: Post-login redirect URL (e.g. /dashboard)
            Set-Cookie:
              schema:
                type: string
              description: HTTP-only session cookie
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /auth/logout:
    post:
      tags: [auth]
      operationId: logout
      summary: End session
      description: >
        Invalidates the server-side session and clears the session cookie.
        Requires an active session.
      responses:
        "200":
          description: Session cleared successfully
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    example: true
        "500":
          $ref: "#/components/responses/InternalServerError"

  /profile:
    get:
      tags: [profile]
      operationId: getProfile
      summary: Get own profile
      description: >
        Returns the authenticated distributor's own profile. The profile is
        created automatically on first access if it does not yet exist.
        Internal integration IDs (ByDesign, NetFi, Shopify) are excluded.
      responses:
        "200":
          description: Authenticated user's profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [profile]
      operationId: updateProfile
      summary: Update own profile
      description: >
        Partially updates the authenticated distributor's own profile.
        Only firstName, lastName, phone, and dateOfBirth are writable.
        String fields (firstName, lastName, phone) are applied only when
        the value is a string — null and omitted values are silently ignored.
        dateOfBirth accepts an ISO date string (YYYY-MM-DD) or null to clear;
        any other type returns 400. Changing the phone number resets
        phoneVerified to false. Returns the full updated profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProfileRequest"
      responses:
        "200":
          description: Updated profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /dashboard:
    get:
      tags: [dashboard]
      operationId: getDashboard
      summary: Get dashboard summary
      description: >
        Returns the authenticated distributor's weekly KPIs, daily sales chart,
        four-week earnings history, volume breakdown, and recent activity feed.
        All monetary values are in cents except salesByDay and earningsHistory,
        which are in dollars.
      responses:
        "200":
          description: Dashboard data for the current week
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dashboard"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /orders:
    get:
      tags: [orders]
      operationId: getOrders
      summary: List personal orders
      description: >
        Returns a paginated list of the authenticated distributor's own orders,
        sorted newest first.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number to retrieve (1-indexed)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Maximum number of orders per page
      responses:
        "200":
          description: Paginated list of personal orders
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrdersPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /orders/{id}:
    get:
      tags: [orders]
      operationId: getOrder
      summary: Get order detail
      description: >
        Returns full detail for one of the authenticated distributor's own orders.
        Scoped to the caller — users cannot fetch other users' orders by guessing IDs.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Internal order ID
      responses:
        "200":
          description: Full order detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /referred-orders:
    get:
      tags: [referredOrders]
      operationId: getReferredOrders
      summary: List referred orders
      description: >
        Returns a paginated list of orders placed through the authenticated
        distributor's referral link, sorted newest first. Each item extends
        the base Order shape with currency and sponsorId fields.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
          description: Page number to retrieve (1-indexed)
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Maximum number of orders per page
      responses:
        "200":
          description: Paginated list of referred orders
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReferredOrdersPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /sms/send-code:
    post:
      tags: [sms]
      operationId: sendSmsCode
      summary: Send SMS verification code
      description: >
        Generates a 6-digit verification code and sends it to the provided
        phone number via SMS. In dev mode (no SMS provider configured) the
        code is returned in the response body instead. A 30-second cooldown
        is enforced between requests per user; the Retry-After header indicates
        the remaining wait in seconds.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
              properties:
                phone:
                  type: string
                  description: Phone number to send the verification code to
                  example: "+14155550123"
      responses:
        "200":
          description: Code sent (or returned in dev mode)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmsSendCodeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /sms/verify-code:
    post:
      tags: [sms]
      operationId: verifySmsCode
      summary: Verify SMS code
      description: >
        Validates the submitted 6-digit code against the pending verification
        record. On success, writes the phone number and sets phoneVerified = true
        on the caller's profile. Codes expire after 10 minutes. After 5 failed
        attempts the record is deleted and a new code must be requested.
        The 400 response for an incorrect code includes an attemptsRemaining
        field alongside error.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: 6-digit verification code received via SMS
                  example: "042817"
      responses:
        "200":
          description: Code verified — phone number written to profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SmsVerifyCodeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /placement:
    get:
      tags: [profile]
      operationId: getPlacement
      summary: Get MLM placement
      description: >
        Returns the authenticated distributor's MLM placement context —
        their influencer ID, kwikApexId, current rank, join date, and
        their sponsor (upline). The sponsor is inferred from the referrer
        attached to their earliest attributed order; sponsor is null when
        no such order exists.
      responses:
        "200":
          description: Placement context for the authenticated distributor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Placement"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /share-links:
    get:
      tags: [appSettings]
      operationId: getShareLinks
      summary: Get share link URLs
      description: >
        Returns the base URLs and personalised share link URLs built from
        the distributor's kwikApexId. All URL and ID fields are null when
        no sponsorId or base URL is configured in app settings.
      responses:
        "200":
          description: Share link configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShareLinks"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /display-flags:
    get:
      tags: [appSettings]
      operationId: getDisplayFlags
      summary: Get display flags
      description: >
        Returns boolean flags that control which sections of the dashboard
        UI are visible for this distributor. Flags are managed by admins.
      responses:
        "200":
          description: Display flag configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisplayFlags"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /storefront:
    get:
      tags: [storefront]
      operationId: getStorefront
      summary: Get storefront analytics
      description: >
        Returns storefront performance metrics for the authenticated
        distributor's share link for the specified date range. Defaults
        to the current ISO week (Mon–Sun UTC) when no range is provided.
        Both from and to must be supplied together; providing only one
        returns a 400.
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date
          description: >
            Range start date (YYYY-MM-DD, inclusive).
            Defaults to the Monday of the current UTC week.
          example: "2026-06-16"
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date
          description: >
            Range end date (YYYY-MM-DD, exclusive).
            Defaults to the Monday of the following UTC week.
          example: "2026-06-23"
      responses:
        "200":
          description: Storefront analytics for the requested period
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Storefront"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /translations:
    get:
      tags: [translations]
      operationId: getPublishedTranslations
      summary: Get published translations
      description: >
        Returns published translation overrides as a flat key-value map.
        Keys are English strings; values are the published translation
        (currently Simplified Chinese). This endpoint is public — no
        session required.
      security: []
      responses:
        "200":
          description: Translation key-value map
          content:
            application/json:
              schema:
                type: object
                required:
                  - translations
                properties:
                  translations:
                    type: object
                    additionalProperties:
                      type: string
                    description: Map of English source text to translated string
                    example:
                      Dashboard: "仪表板"
                      Orders: "订单"

  /addresses:
    get:
      tags: [addresses]
      operationId: getAddresses
      summary: List saved addresses
      description: >
        Returns all saved addresses for the authenticated distributor,
        sorted by isDefault descending then createdAt descending
        (default address appears first).
      responses:
        "200":
          description: List of saved addresses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Address"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [addresses]
      operationId: createAddress
      summary: Create a new address
      description: >
        Creates a new saved address for the authenticated distributor.
        When isDefault is true, the prior default address is automatically
        demoted to non-default. country defaults to "CN" when omitted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - label
                - recipient
                - line1
                - city
                - region
                - postalCode
              properties:
                label:
                  type: string
                  description: User-assigned label (e.g. "Home", "Office")
                  example: "Home"
                recipient:
                  type: string
                  description: Full name of the intended recipient
                  example: "Jane Smith"
                line1:
                  type: string
                  example: "123 Main St"
                line2:
                  type: string
                  example: "Apt 4B"
                city:
                  type: string
                  example: "Shanghai"
                region:
                  type: string
                  description: State, province, or region
                  example: "Shanghai"
                postalCode:
                  type: string
                  example: "200000"
                country:
                  type: string
                  description: ISO 3166-1 alpha-2 country code. Defaults to "CN".
                  example: "CN"
                isDefault:
                  type: boolean
                  description: When true, demotes the previous default address.
                  example: false
      responses:
        "201":
          description: Address created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Address"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /addresses/{id}:
    patch:
      tags: [addresses]
      operationId: updateAddress
      summary: Update an address
      description: >
        Partially updates a saved address. All body fields are optional.
        Returns 400 on non-numeric id; 404 when the address does not
        belong to the authenticated distributor.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Internal address ID
          example: 7
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  example: "Work"
                recipient:
                  type: string
                  example: "Jane Smith"
                line1:
                  type: string
                  example: "456 Office Blvd"
                line2:
                  type: string
                  nullable: true
                  example: null
                city:
                  type: string
                  example: "Beijing"
                region:
                  type: string
                  example: "Beijing"
                postalCode:
                  type: string
                  example: "100000"
                country:
                  type: string
                  example: "CN"
                isDefault:
                  type: boolean
                  example: true
      responses:
        "200":
          description: Updated address
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Address"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      tags: [addresses]
      operationId: deleteAddress
      summary: Delete an address
      description: >
        Permanently deletes a saved address. Returns 400 on non-numeric id;
        404 when the address does not belong to the authenticated distributor.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Internal address ID
          example: 7
      responses:
        "204":
          description: Address deleted
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /signup/check-email:
    post:
      tags: [signup]
      operationId: checkEmail
      summary: Check if email is already registered
      description: >
        Checks whether an email address is already registered in the system.
        Used during signup to surface conflicts before the full form is
        submitted. This endpoint is public — no session required. Rate-limited.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  example: "jane.smith@example.com"
      responses:
        "200":
          description: Email lookup result
          content:
            application/json:
              schema:
                type: object
                required:
                  - exists
                properties:
                  exists:
                    type: boolean
                    description: True when the email address is already registered
                    example: false
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /onboarding/lookup-order:
    post:
      tags: [onboarding]
      operationId: lookupOnboardingOrder
      summary: Look up an existing order for onboarding
      description: >
        Looks up an existing customer order to pre-fill the affiliate
        registration form. At least one of orderName or email must be
        provided. Returns 409 with alreadyClaimed: true when the order
        is already linked to an affiliate account. This endpoint is
        public — no session required. Rate-limited.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderName:
                  type: string
                  description: Shopify order name (e.g. "#1001")
                  example: "#1001"
                email:
                  type: string
                  format: email
                  description: Customer email address
                  example: "jane.smith@example.com"
      responses:
        "200":
          description: Order found and available for onboarding
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnboardingOrderResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /onboarding/create-affiliate:
    post:
      tags: [onboarding]
      operationId: createAffiliate
      summary: Create new affiliate account
      description: >
        Creates a new distributor/affiliate account. This endpoint is
        public — no session required. Rate-limited. Returns 403 when the
        email is already registered. Returns 502 on Kwik API failure and
        503 when the Kwik integration is not configured.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - givenName
                - familyName
                - phoneNumber
                - acceptsMarketing
              properties:
                email:
                  type: string
                  format: email
                  example: "jane.smith@example.com"
                password:
                  type: string
                  format: password
                  example: "S3cureP@ssw0rd"
                givenName:
                  type: string
                  example: "Jane"
                familyName:
                  type: string
                  example: "Smith"
                phoneNumber:
                  type: string
                  example: "+14155550123"
                acceptsMarketing:
                  type: boolean
                  example: true
      responses:
        "200":
          description: Affiliate account created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                properties:
                  ok:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/BadGateway"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: session
      description: HTTP-only session cookie set by the BFF auth flow

  schemas:
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Human-readable error message
          example: "Invalid dateOfBirth; expected YYYY-MM-DD"
        details:
          type: array
          description: >
            Optional supplementary error data. Shape varies by endpoint —
            may contain field-level validation issues or other context.
          items:
            type: object

    UserProfile:
      type: object
      description: Authenticated distributor's own profile data.
      required:
        - clerkUserId
        - influencerId
        - rank
        - walletBalanceCents
        - phoneVerified
        - isAdmin
        - createdAt
      properties:
        clerkUserId:
          type: string
          description: Clerk authentication provider user ID; matches the active session
          example: "user_2abc123"
        influencerId:
          type: string
          description: System-assigned MLM influencer ID
          example: "MH-004821"
        rank:
          type: string
          description: Current MLM rank/tier
          example: "Influencer"
        firstName:
          type: string
          nullable: true
          description: Given name, populated from OIDC claims or manual update
          example: "Jane"
        lastName:
          type: string
          nullable: true
          description: Family name
          example: "Smith"
        email:
          type: string
          nullable: true
          description: Email address
          example: "jane.smith@example.com"
        phone:
          type: string
          nullable: true
          description: Phone number in E.164 or local format
          example: "+14155550123"
        phoneVerified:
          type: boolean
          description: Whether the phone number has been verified
          example: false
        dateOfBirth:
          type: string
          format: date
          nullable: true
          description: Date of birth in YYYY-MM-DD format
          example: "1990-05-15"
        walletBalanceCents:
          type: integer
          description: Current wallet balance in cents
          example: 45000
        isAdmin:
          type: boolean
          description: Whether the user has admin privileges
          example: false
        kwikApexId:
          type: string
          nullable: true
          description: Sponsor code used to build referral share link URLs
          example: "MH-004821"
        createdAt:
          type: string
          format: date-time
          description: ISO 8601 account creation timestamp
          example: "2025-11-03T08:14:22.000Z"

    Kpi:
      type: object
      description: A single KPI metric with an optional week-over-week percentage change.
      required:
        - value
        - deltaPct
      properties:
        value:
          type: integer
          description: Current value (cents for monetary KPIs, count for order KPIs)
          example: 1250
        deltaPct:
          type: number
          format: float
          nullable: true
          description: >
            Percentage change vs the previous period, rounded to one decimal place.
            Null when there is no prior-period data (e.g. new account).
          example: 12.5

    DashboardSalesPoint:
      type: object
      description: >
        One data point in a time-series chart. Used for both salesByDay (7 points,
        Mon–Sun) and earningsHistory (4 points, weekly). Note: value is in dollars,
        not cents — the server divides by 100 before sending.
      required:
        - label
        - value
      properties:
        label:
          type: string
          description: Display label for the x-axis
          example: "Mon"
        value:
          type: number
          format: float
          description: Amount in dollars (not cents)
          example: 42.50

    DashboardVolume:
      type: object
      description: >
        MLM volume breakdown for the current week, covering both personal orders
        and personally sponsored (referred) orders. Legacy orders without separate
        CV/QV fields fall back to amountCents for both markets.
      required:
        - totalCents
        - deltaPct
        - market1Cents
        - market2Cents
      properties:
        totalCents:
          type: integer
          description: CV + QV combined across personal and referred orders
          example: 320000
        deltaPct:
          type: number
          format: float
          nullable: true
          description: Week-over-week percentage change. Null for new accounts.
          example: -4.2
        market1Cents:
          type: integer
          description: Commissionable Volume (CV)
          example: 160000
        market2Cents:
          type: integer
          description: Qualifying Volume (QV)
          example: 160000

    DashboardActivity:
      type: object
      description: One item in the recent activity feed.
      required:
        - id
        - kind
        - description
        - amountCents
        - occurredAt
      properties:
        id:
          type: string
          description: >
            Stable unique identifier for this feed item. Prefixed by source:
            order-{n}, referred-{n}, commission-{n}, order-status-{n}, activity-{n}.
          example: "order-42"
        kind:
          type: string
          description: >
            Event type. Known values: order_received, referred_order,
            commission_paid, order_status. May include custom kinds from the
            activities table.
          example: "order_received"
        description:
          type: string
          description: Human-readable summary of the event
          example: "Order #1042 from Jane Smith"
        amountCents:
          type: integer
          nullable: true
          description: Monetary amount in cents, or null for non-monetary events (e.g. order_status)
          example: 7500
        occurredAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp of the event
          example: "2026-06-16T14:23:00Z"

    DashboardKpis:
      type: object
      description: The four headline KPI cards shown on the dashboard.
      required:
        - totalOrders
        - referredOrders
        - volumeCents
        - commissionsCents
      properties:
        totalOrders:
          $ref: "#/components/schemas/Kpi"
        referredOrders:
          $ref: "#/components/schemas/Kpi"
        volumeCents:
          $ref: "#/components/schemas/Kpi"
        commissionsCents:
          $ref: "#/components/schemas/Kpi"

    Dashboard:
      type: object
      description: Full dashboard payload returned by GET /dashboard.
      required:
        - walletBalanceCents
        - weeklyEarningsCents
        - ordersThisWeek
        - rangeStart
        - rangeEnd
        - kpis
        - salesByDay
        - earningsHistory
        - volume
        - activity
      properties:
        walletBalanceCents:
          type: integer
          description: Current wallet balance in cents
          example: 45000
        weeklyEarningsCents:
          type: integer
          description: Sum of commissions on personal orders placed this week, in cents
          example: 3200
        ordersThisWeek:
          type: integer
          description: Count of personal orders placed in the current week
          example: 5
        rangeStart:
          type: string
          format: date-time
          description: ISO 8601 start of the current week (Monday 00:00 UTC)
          example: "2026-06-15T00:00:00.000Z"
        rangeEnd:
          type: string
          format: date-time
          description: ISO 8601 exclusive end of the current week (following Monday 00:00 UTC)
          example: "2026-06-22T00:00:00.000Z"
        kpis:
          $ref: "#/components/schemas/DashboardKpis"
        salesByDay:
          type: array
          description: Volume generated per day for the current week (Mon–Sun), values in dollars
          minItems: 7
          maxItems: 7
          items:
            $ref: "#/components/schemas/DashboardSalesPoint"
        earningsHistory:
          type: array
          description: Commission earnings for each of the past 4 weeks (oldest first), values in dollars
          minItems: 4
          maxItems: 4
          items:
            $ref: "#/components/schemas/DashboardSalesPoint"
        volume:
          $ref: "#/components/schemas/DashboardVolume"
        activity:
          type: array
          description: Up to 10 most recent activity feed items, sorted newest first
          maxItems: 10
          items:
            $ref: "#/components/schemas/DashboardActivity"

    OrderLineItem:
      type: object
      description: One line item within an order.
      required:
        - title
        - variantTitle
        - sku
        - quantity
        - priceCents
        - productId
        - variantId
      properties:
        title:
          type: string
          description: Product title
          example: "MoreHealth Starter Pack"
        variantTitle:
          type: string
          nullable: true
          description: Variant label (e.g. size or flavour), null when the product has no variants
          example: "30-day supply"
        sku:
          type: string
          nullable: true
          description: Stock-keeping unit code
          example: "MH-SP-001"
        quantity:
          type: integer
          description: Number of units ordered
          example: 2
        priceCents:
          type: integer
          description: Unit price in cents
          example: 4999
        productId:
          type: string
          nullable: true
          description: Shopify product ID
          example: "8142637900001"
        variantId:
          type: string
          nullable: true
          description: Shopify variant ID
          example: "44301827100001"

    Order:
      type: object
      description: One order in the authenticated distributor's personal order history.
      required:
        - id
        - orderName
        - customerName
        - productName
        - amountCents
        - cvCents
        - qvCents
        - status
        - occurredAt
        - lineItems
      properties:
        id:
          type: integer
          description: Internal order ID
          example: 1042
        orderName:
          type: string
          nullable: true
          description: Human-readable order number assigned by the source system (e.g. "#1001"). Null for manually-entered orders.
          example: "#1001"
        customerName:
          type: string
          description: Buyer's full name
          example: "Jane Smith"
        productName:
          type: string
          description: Primary product name on the order
          example: "MoreHealth Starter Pack"
        amountCents:
          type: integer
          description: Order total in cents
          example: 9998
        cvCents:
          type: integer
          nullable: true
          description: Commissionable Volume in cents. Null on legacy orders that predate CV/QV tracking.
          example: 9998
        qvCents:
          type: integer
          nullable: true
          description: Qualifying Volume in cents. Null on legacy orders that predate CV/QV tracking.
          example: 9998
        status:
          type: string
          description: "Order lifecycle status. Known values: paid, shipped, delivered, refunded."
          example: "paid"
        occurredAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the order was placed
          example: "2026-06-15T11:30:00.000Z"
        lineItems:
          type: array
          description: Line items on the order. May be empty for legacy orders ingested without line-item detail.
          items:
            $ref: "#/components/schemas/OrderLineItem"

    Pagination:
      type: object
      description: Standard pagination metadata returned by all list endpoints.
      required:
        - page
        - limit
        - total
        - totalPages
      properties:
        page:
          type: integer
          description: Current page number (1-indexed)
          example: 1
        limit:
          type: integer
          description: Maximum number of items per page as requested
          example: 20
        total:
          type: integer
          description: Total number of records matching the query
          example: 47
        totalPages:
          type: integer
          description: Total number of pages — ceil(total / limit)
          example: 3

    OrdersPage:
      type: object
      description: Paginated list of the authenticated distributor's personal orders.
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          description: Orders for the requested page, sorted newest first
          items:
            $ref: "#/components/schemas/Order"
        pagination:
          $ref: "#/components/schemas/Pagination"

    ReferredOrder:
      type: object
      description: >
        An order placed through the authenticated distributor's referral link.
        Extends Order with two additional fields present in the referred-orders
        projection: currency and sponsorId.
      allOf:
        - $ref: "#/components/schemas/Order"
        - type: object
          required:
            - currency
            - sponsorId
          properties:
            currency:
              type: string
              description: ISO 4217 currency code for the order
              example: "USD"
            sponsorId:
              type: string
              nullable: true
              description: >
                Raw sponsor attribution value from the Shopify cart metafield
                at order time. Matches the referrer's kwikApexId. Null when
                attribution data was not present on the order.
              example: "MH-004821"

    ReferredOrdersPage:
      type: object
      description: Paginated list of orders placed through the authenticated distributor's referral link.
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          description: Referred orders for the requested page, sorted newest first
          items:
            $ref: "#/components/schemas/ReferredOrder"
        pagination:
          $ref: "#/components/schemas/Pagination"

    OrderDiscountCode:
      type: object
      description: A discount code applied to an order.
      required:
        - code
        - amountCents
        - type
      properties:
        code:
          type: string
          description: Discount code string
          example: "WELCOME10"
        amountCents:
          type: integer
          description: Discount value in cents
          example: 500
        type:
          type: string
          nullable: true
          description: Discount type as returned by Shopify (e.g. percentage, fixed_amount). Null when not provided.
          example: "percentage"

    OrderShippingAddress:
      type: object
      description: >
        Shipping address on an order. All fields are nullable — Shopify webhook
        payloads may arrive with partial address data.
      properties:
        firstName:
          type: string
          nullable: true
          example: "Jane"
        lastName:
          type: string
          nullable: true
          example: "Smith"
        phone:
          type: string
          nullable: true
          example: "+14155550123"
        line1:
          type: string
          nullable: true
          example: "123 Main St"
        line2:
          type: string
          nullable: true
          example: "Apt 4B"
        city:
          type: string
          nullable: true
          example: "San Francisco"
        region:
          type: string
          nullable: true
          description: State or province
          example: "CA"
        postalCode:
          type: string
          nullable: true
          example: "94105"
        country:
          type: string
          nullable: true
          example: "United States"
        countryCode:
          type: string
          nullable: true
          description: ISO 3166-1 alpha-2 country code
          example: "US"

    OrderDetail:
      type: object
      description: >
        Full detail for one of the authenticated distributor's own orders.
        Drops cvCents and qvCents (not included in the detail projection) and
        adds customer contact, financial, fulfilment, and line-item detail fields.
        lineItems reuses the same OrderLineItem schema as the list view.
      required:
        - id
        - orderName
        - customerName
        - customerEmail
        - customerPhone
        - productName
        - amountCents
        - commissionCents
        - currency
        - status
        - source
        - occurredAt
        - lineItems
        - discountCodes
        - shippingAddress
        - note
      properties:
        id:
          type: integer
          description: Internal order ID
          example: 1042
        orderName:
          type: string
          nullable: true
          description: Human-readable order number (e.g. "#1001"). Null for manually-entered orders.
          example: "#1001"
        customerName:
          type: string
          description: Buyer's full name
          example: "Jane Smith"
        customerEmail:
          type: string
          nullable: true
          description: Buyer's email address
          example: "jane.smith@example.com"
        customerPhone:
          type: string
          nullable: true
          description: Buyer's phone number
          example: "+14155550123"
        productName:
          type: string
          description: Primary product name on the order
          example: "MoreHealth Starter Pack"
        amountCents:
          type: integer
          description: Order total in cents
          example: 9998
        commissionCents:
          type: integer
          description: Commission earned on this order in cents
          example: 1000
        currency:
          type: string
          description: ISO 4217 currency code
          example: "USD"
        status:
          type: string
          description: "Order lifecycle status. Known values: paid, shipped, delivered, refunded."
          example: "paid"
        source:
          type: string
          description: "Origin of the order. Known values: manual, shopify."
          example: "shopify"
        occurredAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the order was placed
          example: "2026-06-15T11:30:00.000Z"
        lineItems:
          type: array
          description: Line items on the order. May be empty for legacy orders ingested without line-item detail.
          items:
            $ref: "#/components/schemas/OrderLineItem"
        discountCodes:
          type: array
          description: Discount codes applied to the order. Empty array when none were used.
          items:
            $ref: "#/components/schemas/OrderDiscountCode"
        shippingAddress:
          type: object
          allOf:
            - $ref: "#/components/schemas/OrderShippingAddress"
          nullable: true
          description: Shipping address for the order, or null if not captured.
        note:
          type: string
          nullable: true
          description: Customer-provided order note
          example: "Please leave at door"

    SmsSendCodeResponse:
      type: object
      description: >
        Response from POST /sms/send-code. In production the code is sent via
        SMS and not returned. In dev mode (no SMS provider configured) the code
        is returned in the response body so the flow can be tested end-to-end.
      required:
        - ok
      properties:
        ok:
          type: boolean
          example: true
        devMode:
          type: boolean
          description: Present and true when no SMS provider is configured (dev/staging only)
          example: true
        devCode:
          type: string
          description: The actual verification code — only present when devMode is true
          example: "042817"

    SmsVerifyCodeResponse:
      type: object
      description: >
        Response from POST /sms/verify-code on successful verification.
        The verified phone number is written to the caller's profile (phone +
        phoneVerified = true). In dev mode a fixed bypass code ("111111") is
        accepted and devBypass is returned.
      required:
        - ok
        - phone
      properties:
        ok:
          type: boolean
          example: true
        phone:
          type: string
          description: The verified phone number now stored on the profile
          example: "+14155550123"
        devBypass:
          type: boolean
          description: Present and true when the dev bypass code was used
          example: true

    UpdateProfileRequest:
      type: object
      description: >
        Writable fields for PATCH /profile. All fields are optional.
        String fields (firstName, lastName, phone) are applied only when
        the value is a string — null and omitted values are silently ignored
        for those fields. dateOfBirth accepts a date string (YYYY-MM-DD)
        or null to clear; any other type returns 400.
      properties:
        firstName:
          type: string
          description: Given name
          example: "Jane"
        lastName:
          type: string
          description: Family name
          example: "Smith"
        phone:
          type: string
          description: Phone number in E.164 or local format
          example: "+14155550123"
        dateOfBirth:
          type: string
          format: date
          nullable: true
          description: Date of birth (YYYY-MM-DD). Pass null to clear.
          example: "1990-05-15"

    Address:
      type: object
      description: One of the authenticated distributor's saved shipping/billing addresses.
      required:
        - id
        - label
        - recipient
        - line1
        - city
        - region
        - postalCode
        - isDefault
      properties:
        id:
          type: integer
          description: Internal address ID
          example: 7
        label:
          type: string
          description: User-assigned label (e.g. "Home", "Office")
          example: "Home"
        recipient:
          type: string
          description: Full name of the intended recipient
          example: "Jane Smith"
        line1:
          type: string
          description: Street address line 1
          example: "123 Main St"
        line2:
          type: string
          nullable: true
          description: Street address line 2 (suite, floor, etc.)
          example: "Apt 4B"
        city:
          type: string
          example: "Shanghai"
        region:
          type: string
          description: State, province, or region
          example: "Shanghai"
        postalCode:
          type: string
          example: "200000"
        country:
          type: string
          description: ISO 3166-1 alpha-2 country code
          example: "CN"
        isDefault:
          type: boolean
          description: Whether this is the distributor's default address
          example: false

    ShareLinks:
      type: object
      description: >
        Personalised share link URLs for the authenticated distributor.
        All URL and ID fields are null when no kwikApexId or base URL is
        configured.
      required:
        - shopBaseUrl
        - enrollBaseUrl
        - siteBaseUrl
        - sponsorId
        - shopShareUrl
        - enrollShareUrl
        - siteShareUrl
      properties:
        shopBaseUrl:
          type: string
          nullable: true
          description: Base URL of the distributor's shop (without sponsor param)
          example: "https://shop.morehealth.com"
        enrollBaseUrl:
          type: string
          nullable: true
          description: Base URL of the enrollment page
          example: "https://enroll.morehealth.com"
        siteBaseUrl:
          type: string
          nullable: true
          description: Base URL of the distributor site
          example: "https://morehealth.com"
        sponsorId:
          type: string
          nullable: true
          description: The distributor's kwikApexId used as the sponsor param in share URLs
          example: "MH-004821"
        shopShareUrl:
          type: string
          nullable: true
          description: Full personalised shop URL with sponsor param appended
          example: "https://shop.morehealth.com?sponsor_id=MH-004821"
        enrollShareUrl:
          type: string
          nullable: true
          description: Full personalised enrollment URL with sponsor param appended
          example: "https://enroll.morehealth.com?sponsor_id=MH-004821"
        siteShareUrl:
          type: string
          nullable: true
          description: Full personalised site URL with sponsor param appended
          example: "https://morehealth.com?sponsor_id=MH-004821"

    DisplayFlags:
      type: object
      description: Feature flags that control which sections of the dashboard UI are visible.
      required:
        - hideVolume
        - hideInfluencerStatus
        - hideEarnings
      properties:
        hideVolume:
          type: boolean
          description: When true, hide the Volume section from the dashboard
          example: false
        hideInfluencerStatus:
          type: boolean
          description: When true, hide the influencer status / rank badge
          example: false
        hideEarnings:
          type: boolean
          description: When true, hide the earnings and commission sections
          example: false

    StorefrontProduct:
      type: object
      description: One entry in the storefront's most-ordered products list.
      required:
        - name
        - units
        - revenueCents
      properties:
        name:
          type: string
          description: Product name
          example: "MoreHealth Starter Pack"
        units:
          type: integer
          description: Total units ordered in the period
          example: 12
        revenueCents:
          type: integer
          description: Total revenue from this product in cents
          example: 59988

    StorefrontKpi:
      type: object
      description: A storefront KPI metric paired with a period-over-period delta.
      required:
        - value
        - deltaPct
      properties:
        value:
          type: integer
          description: Current period value (cents for monetary metrics, count otherwise)
          example: 8
        deltaPct:
          type: number
          format: float
          nullable: true
          description: Percentage change vs the previous period. Null when no prior data.
          example: -12.5

    StorefrontConversionRate:
      type: object
      description: >
        Storefront conversion-rate metric. value is a float percentage,
        unlike other StorefrontKpi metrics which are integers.
      required:
        - value
        - deltaPct
      properties:
        value:
          type: number
          format: float
          description: Conversion rate as a percentage (e.g. 2.47 means 2.47%)
          example: 2.47
        deltaPct:
          type: number
          format: float
          nullable: true
          description: Percentage change vs the previous period. Null when no prior data.
          example: 5.1

    Storefront:
      type: object
      description: >
        Storefront analytics payload for the authenticated distributor's
        share link, covering the requested date range and its comparison period.
      required:
        - shopShareUrl
        - rangeStart
        - rangeEnd
        - prevRangeStart
        - prevRangeEnd
        - orders
        - revenueCents
        - storeVisits
        - conversionRate
        - avgOrderValueCents
        - mostOrdered
      properties:
        shopShareUrl:
          type: string
          nullable: true
          description: The distributor's personalised shop share URL
          example: "https://shop.morehealth.com?sponsor_id=MH-004821"
        rangeStart:
          type: string
          format: date
          description: Start of the requested date range (YYYY-MM-DD, inclusive)
          example: "2026-06-16"
        rangeEnd:
          type: string
          format: date
          description: End of the requested date range (YYYY-MM-DD, exclusive)
          example: "2026-06-23"
        prevRangeStart:
          type: string
          format: date
          description: Start of the comparison period
          example: "2026-06-09"
        prevRangeEnd:
          type: string
          format: date
          description: End of the comparison period (exclusive)
          example: "2026-06-16"
        orders:
          $ref: "#/components/schemas/StorefrontKpi"
        revenueCents:
          $ref: "#/components/schemas/StorefrontKpi"
        storeVisits:
          $ref: "#/components/schemas/StorefrontKpi"
        conversionRate:
          $ref: "#/components/schemas/StorefrontConversionRate"
        avgOrderValueCents:
          $ref: "#/components/schemas/StorefrontKpi"
        mostOrdered:
          type: array
          description: Top products by units ordered in the period
          items:
            $ref: "#/components/schemas/StorefrontProduct"

    PlacementSponsor:
      type: object
      description: Summary profile of the authenticated distributor's MLM upline sponsor.
      required:
        - clerkUserId
        - influencerId
        - rank
      properties:
        clerkUserId:
          type: string
          description: Clerk user ID of the sponsor
          example: "user_2xyz789"
        firstName:
          type: string
          nullable: true
          example: "Bob"
        lastName:
          type: string
          nullable: true
          example: "Jones"
        influencerId:
          type: string
          description: MLM influencer ID of the sponsor
          example: "MH-002001"
        rank:
          type: string
          description: Current MLM rank of the sponsor
          example: "Senior Influencer"
        kwikApexId:
          type: string
          nullable: true
          description: Referral sponsor code of the sponsor
          example: "MH-002001"

    Placement:
      type: object
      description: >
        The authenticated distributor's placement in the MLM network.
        Includes their own identifiers, join date, current rank, and —
        when derivable — their sponsor (upline) inferred from the referrer
        on their earliest attributed order.
      required:
        - influencerId
        - rank
        - joinedAt
        - sponsorId
        - sponsor
      properties:
        influencerId:
          type: string
          description: System-assigned MLM influencer ID
          example: "MH-004821"
        kwikApexId:
          type: string
          nullable: true
          description: Referral sponsor code used in share URLs
          example: "MH-004821"
        rank:
          type: string
          description: Current MLM rank
          example: "Influencer"
        joinedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the account was created
          example: "2025-11-03T08:14:22.000Z"
        sponsorId:
          type: string
          nullable: true
          description: >
            Raw sponsor attribution value from the earliest order with a referrer.
            Matches the sponsor's kwikApexId. Null when no attributed order exists.
          example: "MH-002001"
        sponsor:
          type: object
          nullable: true
          allOf:
            - $ref: "#/components/schemas/PlacementSponsor"
          description: Sponsor's profile, or null when no sponsor is attributable.

    OnboardingOrderResult:
      type: object
      description: >
        Existing order data returned by POST /onboarding/lookup-order,
        used to pre-fill the affiliate registration form.
      required:
        - orderName
        - email
      properties:
        orderName:
          type: string
          nullable: true
          description: Shopify order name (e.g. "#1001")
          example: "#1001"
        email:
          type: string
          nullable: true
          description: Customer email address on the order
          example: "jane.smith@example.com"
        phone:
          type: string
          nullable: true
          description: Customer phone number on the order
          example: "+14155550123"
        firstName:
          type: string
          nullable: true
          example: "Jane"
        lastName:
          type: string
          nullable: true
          example: "Smith"
        shippingAddress:
          type: object
          nullable: true
          description: Shipping address from the order, or null when not captured.
          properties:
            line1:
              type: string
              nullable: true
              example: "123 Main St"
            line2:
              type: string
              nullable: true
              example: "Apt 4B"
            city:
              type: string
              nullable: true
              example: "Shanghai"
            region:
              type: string
              nullable: true
              example: "Shanghai"
            postalCode:
              type: string
              nullable: true
              example: "200000"
            country:
              type: string
              nullable: true
              example: "China"
            countryCode:
              type: string
              nullable: true
              description: ISO 3166-1 alpha-2 country code
              example: "CN"

  responses:
    BadRequest:
      description: Malformed request or failed input validation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or expired session
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated but insufficient permissions
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UnprocessableEntity:
      description: Semantic validation error (structurally valid but business-rule violation)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InternalServerError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    TooManyRequests:
      description: Rate limit exceeded — retry after the indicated delay
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServiceUnavailable:
      description: A required upstream service (e.g. SMS provider) is not configured or unreachable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: >
        Resource conflict — the request cannot be completed in the current state.
        For onboarding lookup, includes alreadyClaimed: true when the order
        is already linked to an affiliate account.
      content:
        application/json:
          schema:
            type: object
            required:
              - error
            properties:
              error:
                type: string
                example: "Order already claimed"
              alreadyClaimed:
                type: boolean
                description: Present and true when the conflict is a claimed onboarding order
                example: true
    BadGateway:
      description: An upstream service returned an unexpected or invalid response
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

security:
  - sessionCookie: []
